.btn-return__historico {
    margin: 50px 0 0 50px;
    height: 50px;
    width: 50px;
    
}
.border-menu__historico {
    background-color: var(--color-border-historico);
    height: 10px;
    border-radius: 5px;
}
.header-menu__historico {
    height: 70px;
    background-color: var(--label-verde-escuro);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: var(--color-font);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.descricao_itens-historico {
    background-color: var(--label-verde-escuro);
    margin: 10px;
    padding-bottom: 5px;
    border-radius: 15px;
    color: var(--color-font);
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    font-size: 17px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}